@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Poppins!important;
    letter-spacing: .7px;
}

*:focus,*:active
{
    outline: none;
}

button
{
    cursor: pointer;
}

body,html
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.container
{
    margin: 50px 0;
    text-align: center;
    width: 80%;
    height: auto;
    overflow: visible;

}
.heading{

    background-color: crimson;
    color: white;
    margin: 20px 0;
    font-family: arial;
    text-transform: uppercase;
    padding:15px 20px;
}

.text-area
{
    display:flex;
    justify-content: space-between;
    margin: 20px 0;
}

#todo-text
{
    /* width: 80%; */
    border: none;
    display: inline;
    padding: 10px 10px;
    background-color: linen;
    width: 80%;
}
#todo-text::placeholder
{
    text-transform: uppercase;
}

.btn
{
    border: none;
    font-weight: 700;
    color:black;
    text-transform: uppercase;
    
}

#add-btn
{
    width: 15%;
    padding: 10px 2px;
    display: inline;
    font-size: 20px;
}
#clear,#expand
{
    padding: 10px 10px;
    margin: 10px 0;
}

.todos
{
    list-style-type: none;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.todos li
{
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: linen;
    padding: 10px 0;
    margin-bottom: 7px;
    text-align: left;
    
}

.shiverr
{
    animation-name: shiverr;
    animation-duration: .5s;
}


@keyframes shiverr
{
    20%{transform: rotateY(0deg);}

    35%{transform: rotateY(6deg);}
    50%{transform: rotateY(-6deg);}
    65%{transform: rotateY(6deg);}
    80%{transform: rotateY(-6deg);}
    
    100%{transform: rotateY(0deg);}
}

.todos button
{
    width: 15%;
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 700;
    cursor: pointer;
    font-size: 26px;
    vertical-align: middle;
}
.todos button:hover
{
    color:red;
    /* font-weight: 900; */
}
.todos input[type=checkbox]
{
    height: 20px!important;
    width: 20px!important;
    opacity: 1!important;
    margin:5px 10px;
    background-color: #eee;
    cursor: pointer;
}
.todos label
{
    width: 80%;
    word-wrap: break-word;
    overflow: visible;

}

.todo-container
{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
.expand
{
    max-height: unset;
    overflow: hidden;
    
    overflow-y: visible;
    
}

@media screen and (min-width:540px)
{
    .container
    {
        width: 40%;
        height: auto;
    }
    .todo button
    {
        /* width: 10%; */

    }
}